<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Proyecto JS Alan Naranjo</title>

    <link rel="stylesheet" href="/Front-end/css/index.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
  <section class="container">
    <div class="row row-cols-1 justify-content-center">
      <div class="col-2 mt-3">
        <h1>Proyecto</h1>
      </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <h2>...</h2>
      </div>
      <div class="col-9 p-5">
        <button id="boton1">Thor</button>
        <button id="boton2">Moon Nigth</button>
        <button id="boton3">Capitan America</button>
        <button id="boton4">Loki</button>
        <button id="boton5">Thanos</button>
        <button id="boton6">Hulk</button>
        <button id="boton7">Agregar Nuevo SuperHeroe</button>
        <button id="boton8">Imagen de tu SuperHeroe</button>
      </div>
    </div>
      <div id="miContenido" class="col-9 m-5 p-5">
      </div>
    </div>
  </section>

  <script src="/Front-end/js/Proyecto.js"></script>
</html>